trunk/docs/Schemata_csw_2.0.2_ap_iso_1.0/schemas/cat/wsdl/1.0/APISO-soap-binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.opengis.net/cat/csw/soap" xmlns:csw-msg="http://www.opengis.net/cat/csw/msg" xmlns:csw-soap="http://www.opengis.net/cat/csw/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
		<dc:date>2006-03-20</dc:date>
		<dc:creator>Uwe Voges</dc:creator>
		<dc:creator>Kristian Senkler</dc:creator>
		<dc:description>SOAP protocol bindings for CSW 2.0.1 (AP ISO 19115/19 V1.0) interfaces</dc:description>
	</wsdl:documentation>
	<wsdl:import namespace="http://www.opengis.net/cat/csw/msg" location="./csw201-ApIso-interfaces.wsdl"/>
	<!-- SOAP bindings -->
	<wsdl:binding name="Discovery-SOAP" type="csw-msg:CSW-Discovery">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CSW-Discovery.getRecords">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CSW-Discovery.getRecordById">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CSW-Discovery.getDomain">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CSW-Discovery.describeRecord">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Publication-SOAP" type="csw-msg:CSW-Publication">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CSW-Publication.harvest">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CSW-Publication.transaction">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<!-- service endpoints -->
	<wsdl:service name="CatalogServiceCSW2.0.1APIso">
		<wsdl:port name="CSW-Discovery-Port" binding="csw-soap:Discovery-SOAP">
			<soap:address location="http://..."/>
		</wsdl:port>
		<wsdl:port name="CSW-Publication-Port" binding="csw-soap:Publication-SOAP">
			<soap:address location="http://..."/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
