docs/Schemata_csw_2.0.2_ap_iso_1.0/schemas/cat/wsdl/2.0.2/TODO/kvp-bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.opengis.net/cat/csw/http/kvp"
   xmlns:csw-req-kvp="http://www.opengis.net/cat/csw/2.0.2/requests/kvp"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:description>
         HTTP/1.1 protocol bindings for CSW interfaces.
      </dc:description>
      <dc:date>2004-06-07</dc:date>
   </wsdl:documentation>

   <wsdl:import namespace="http://www.opengis.net/cat/csw/2.0.2/requests/kvp"
                location="./kvp-interfaces.wsdl"/>

   <wsdl:binding name="csw-GET" type="csw-req-kvp:csw">
      <wsdl:documentation>CSW interface bound to the HTTP/1.1 GET method.</wsdl:documentation>
      <http:binding verb="GET"/>
      <wsdl:operation name="csw.getCapabilities">
         <http:operation location="GetCapabilities"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
       </wsdl:operation>
      <wsdl:operation name="csw.describeRecord">
         <http:operation location="DescribeRecord"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="csw.getRecords">
         <http:operation location="GetRecords"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="csw.getRecordById">
         <http:operation location="GetRecordById"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="csw.getDomain">
         <http:operation location="GetDomain"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
       </wsdl:operation>
     <wsdl:operation name="csw.harvest">
         <http:operation location="Harvest"/>
         <wsdl:input>
            <http:urlEncoded/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
       </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
