trunk/docs/Schemata_csw_2.0.2_ap_iso_1.0/schemas/cat/wsdl/2.0.2/TODO/kvp-interfaces.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/cat/csw/2.0.2/requests/kvp"
   xmlns:csw="http://www.opengis.net/cat/csw/2.0.2"
   xmlns:csw-req-kvp="http://www.opengis.net/cat/csw/2.0.2/requests/kvp"
   xmlns:csw-kvp="http://www.opengis.net/cat/csw/2.0.2/kvp"
   xmlns:csw-req="http://www.opengis.net/cat/csw/2.0.2/requests/kvp"
   xmlns:csw-resp="http://www.opengis.net/cat/csw/2.0.2/responses"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:identifier>urn:opengis:spec:wfs:wsdl-1.1:interfaces:1.0.1</dc:identifier>
      <dc:date>2004-06-01</dc:date>
      <dc:description>
         This is the  normative abstract service interface definition for
         the OpenGIS CSW, v2.0.2. The WSDL 1.1 syntax is 
         used to describe the interface signatures and message structures.
      </dc:description>
   </wsdl:documentation>

   <wsdl:import namespace="http://www.opengis.net/cat/csw/2.0.2/responses"
                location="./responses.wsdl"/>

   <wsdl:types>
      <wsdl:documentation>
         Convenience schema that defines all common WFS message elements.
      </wsdl:documentation>
      <xsd:schema targetNamespace="http://www.opengis.net/cat/csw/2.0.2"
                  xmlns:csw="http://www.opengis.net/cat/csw/2.0.2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  elementFormDefault="qualified" version="2.0.2">
 		<xsd:import namespace="http://www.opengis.net/cat/csw/2.0.2/kvp" schemaLocation="./csw-kvp.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetCapabilitiesRequest">
      <wsdl:part name="Body" element="csw-kvp:GetCapabilities"/>
   </wsdl:message>
   <wsdl:message name="DescribeRecordRequest">
      <wsdl:part name="Body" element="csw-kvp:DescribeRecord"/>
   </wsdl:message>
   <wsdl:message name="GetRecordsRequest">
      <wsdl:part name="Body" element="csw-kvp:GetRecords"/>
   </wsdl:message>
   <wsdl:message name="GetRecordByIdRequest">
      <wsdl:part name="Body" element="csw-kvp:GetRecordById"/>
   </wsdl:message>
   <wsdl:message name="GetDomainRequest">
      <wsdl:part name="Body" element="csw-kvp:GetDomain"/>
   </wsdl:message>
   <wsdl:message name="HarvestRequest">
      <wsdl:part name="Body" element="csw-kvp:Harvest"/>
   </wsdl:message>
   <wsdl:portType name="csw">
      <wsdl:documentation>
         This interface corresponds to the CSW (read-only)
         capability class.
      </wsdl:documentation>
      <wsdl:operation name="csw.getCapabilities">
         <wsdl:input  message="csw-req-kvp:GetCapabilitiesRequest"/>
         <wsdl:output message="csw-resp:GetCapabilitiesResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="csw.describeRecord">
         <wsdl:input  message="csw-req-kvp:DescribeRecordRequest"/>
         <wsdl:output message="csw-resp:DescribeRecordResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="csw.getRecords">
         <wsdl:input  message="csw-req-kvp:GetRecordsRequest"/>
         <wsdl:output message="csw-resp:GetRecordsResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="csw.getRecordById">
         <wsdl:input  message="csw-req-kvp:GetRecordByIdRequest"/>
         <wsdl:output message="csw-resp:GetRecordByIdResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="csw.getDomain">
         <wsdl:input  message="csw-req-kvp:GetDomainRequest"/>
         <wsdl:output message="csw-resp:GetDomainResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="csw.harvest">
         <wsdl:input  message="csw-req-kvp:HarvestRequest"/>
         <wsdl:output message="csw-resp:HarvestResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="csw-resp:ServiceExceptionReport"/>
      </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
